<div class="container">
  
  <div [formGroup]="formularz" class="form">
    <h2 class="title">formularz</h2>
    <div formArrayName="dynamic" *ngFor="let elem of formElements">
      <div *ngIf="elem.type === 'select'">
        <label>{{elem.name}}</label>
        <select [formControlName]="elem.id">
          <option *ngFor="let option of elem.options" [value]="option">{{option}}</option>
        </select>
      </div>
      <div *ngIf="elem.type !== 'select'">
        <input [type]="elem.type" [formControlName]="elem.id" placeholder="{{elem.name}}">
      </div>
    </div> 
  </div>
  <button (click)="submitForm()" class="submit">Submit</button>
</div>

 